@font-face {
	font-family: quicksand;
	src: url(fontes/Quicksand-VariableFont_wght.ttf);
}

body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x:hidden;
    background-color: #FFF7E0;
    font-family: quicksand;
}

.redes img{
	width:23px;
	height:23px;
}

.opcoes {
	padding-right: 80px;
	padding-left: 80px;
	text-decoration: none;
	color: black;
	font-family: quicksand;
}

#logo {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 16em;
    background: #D9F1F1;
    margin: 8% auto;
    margin-bottom: 0;
}
#imglogo img{
	width: 100%;
	height:100%;

}
#menuzinho {
	margin: 5% auto;
	width: 60%;
	text-align: center;
	margin-bottom: 10%;
}

#menuzinho a {
	text-decoration: none;
	color: #0E464E;
	font-size: 150%;
	background-color: #B6E3E9;
	margin-right: 10%;
	padding: 0.5%;
}

#listras {background: linear-gradient(to bottom,
  	#D9F1F1,#D9F1F1 50%,
  	#FFF7E0 50%,#FFF7E0);
	background-size: 100% 30%;
}
/*#cardapios {
	z-index:-1;
}*/

.box {
	text-align: center;
}

.box img {
	width: 20%;
    border: 0.5em solid #D9F1F1;
    margin: 5%;
}

/*#restaurante img {
	width: 100%;
	position: static;
	background-color: #D9F1F1;
} */

hr {
	width: 60%;
	align-items: center;
	font-size: 100px;
}
footer {
  	font-size: 100%;
  	font-family: quicksand;
  	text-align: center;
}
#rodape {
	height: 40%;
	bottom: 0;

}
.imagensrodape {
	display: inline-block;
	text-align: center;
}

#tom {
	float: right; 
	padding-bottom: -5%;
}

.conteudo {
	width: 30%;
	flex-direction: column;
  	justify-content: center;
  	text-align: center;
}

#jerry {
	float: left; 
}

#tom img {
	width: 340px;
	height: 142px;
}

#jerry img {
	width: 120px;
	height: 96px;
	padding-right: 220px;
	padding-left: 130px;
}