.boxbanner{
	background-color: #B3DFEC;
	display: flex;
	height: 25vw;
}
.boxbanner h1{
	margin-left: 5%;
	margin-top: 3%;
	font-family: Chicle;
	color: #FFC5C8;
	text-shadow: 3px 3px 0 black, 0px 2px 0 black, 2px 0px 0 black;
	font-size: 6vw;
}

.produtos{
	margin: 5% 3% 2% 3%;
	border-radius: 20px;
	font-family: Neuton;
}
.produtos img{
	width: 23vh;
	height: 23vh;
	max-height: 200px;
	margin: 2% 2%;
}

a.linktenda{
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #212529;
}